
*{
    margin: 0;
    padding: 0;
}

body{
 background-image: url('background-game.jpg');
 background-size: contain;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
        justify-content: center;
    text-align: center;
    font-family: 'Harmattan', sans-serif ;
}
.cards{
    background-color:rgba(255, 255, 255, 0.804);
    border-radius: 20px;
    box-shadow: 0px 3px 20px rgba(64, 64, 64, 0.676);

}

.card-header{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: rgb(57, 57, 57);

}
.number{
    border-radius: 10px;
    color: rgb(57, 57, 57);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;
    
    }

    .grid-container , .grid-container2 , .grid-container3 {
        align-items:flex-start;
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto  auto ;
        gap: 5px;
        margin: 10px;        
      }
      
      .grid-container > div {
        height:20vh;
        width: 22vw;
        background-image: url('cardLevel1.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        padding-top: 20px;
        text-align: center;
        border: 1px solid #FCA001 ;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .grid-container2 > div {
        height:20vh;
        width: 22vw;
        background-image: url('cardLevel2.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        padding-top: 20px;
        text-align: center;
        border: 1px solid #EF630E ;
    }

    .grid-container3 > div {
        height:20vh;
        width: 22vw;
        background-image: url('cardLevel3.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        padding-top: 20px;
        text-align: center;
        border: 1px solid #A50102 ;
    }
    .hCard {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(57, 57, 57);
        font-size: 3rem;
    }
    
 